/*Main menu CSS*/
body {font-family:Helvetica; color:rgba(255,255,255,1); background-color:rgba(13,16,23,1); margin:0;}


/*Titles CSS*/
.blockTitle {background-color:rgba(1,98,255,1); border-radius:20px; text-align:right; margin-top:8px; margin-left:40px; margin-right:8px; height:40px;}
  .mainTitle {color:rgba(255,255,255,1); background-color:rgba(1,98,255,1); font-size:30px; border-top-right-radius:20px; border-bottom-right-radius:20px; text-align:center; width:415px; float:center; margin-top:8px; margin-left:60px;}
  /*Sponsor's CSS*/
  .frontSponsor {margin-top:5px; cursor:pointer; width:88px; height:30px;}


/*Menu CSS*/
.blockMenu {width:100%; height:100%;}
  .mainBlockOption {float:left; cursor:pointer; margin-top:-48px; margin-left:3px;}
    .imgMainOption{height:120px; width:120px;}
  /*Option CSS*/
  .secondBlockOption {color:rgba(0,20,137,1); background-color:rgba(255,255,255,0); border-radius:20px; margin-top:8px; margin-right:8px; display:flex; height:30px;}
    .secondOption {color:rgba(255,255, 255,1); background-color:rgba(255,255,255,0); text-decoration:none; font-size:14px; font-weight:bold; text-align:center; height:16px; border:none; margin:auto; float:left; cursor:pointer;}
/*Transitions Options*/
.secondBlockOption:hover {color:rgba(255,255,255,1); background-color:rgba(255,255,255,1); transition-duration:0.5s;}
.secondOption:hover {text-decoration:underline rgba(1,98,255,1);}
.secondBlockOption:hover .secondOption {color:rgba(0,0,0,1); transition-duration:0.5s;}


/*Subtitles CSS*/
  .subTitle {color:rgba(255,255,255,1); background-color:rgba(43,46,53,1); font-size:25px; border-top-right-radius:20px; border-bottom-right-radius:20px; text-align:center; width:450px; float:left;}
  .subTitle2 {color:rgba(255,255,255,1); background-color:rgba(1,98,255,1); font-size:23px; text-align:center; margin-bottom:5px;}

  
/*Sponsors CSS*/
.blockSponsor {background-color:rgba(255,255,255,1); width:100%; line-height:100px;}
  .mainSponor {text-align:center;}
    .endMainSponsor {cursor:pointer;}
  .secondSponsor {text-align:center;}
    .endSecondSponsor {cursor:pointer;}
    
    
 /*Chat CSS*/
.titleChat {font-family:Helvetica; font-weight:bold;}
.user {font-family:Helvetica; background-color:rgba(255,255,255,1); border-radius:20px; text-align:center; margin-right:30px; outline:none; width:250px; height:20px; border:none; font-weight:bold;}
#username-page {text-align:center;}
#usernameForm {text-align:center;}
.username-submit {font-weight:bold; margin-top:10px; border-radius:20px; color:rgba(255,255,255,1); background-color:rgba(1,98,255,1); outline:none; width:200px; border:none; height:20px; cursor:pointer;}
#chat-page {position:relative; height:100%;}
.chat-container {max-width:auto; margin-left:auto; margin-right:auto; background-color:rgba(13,16,23,1); margin-top:30px; height:calc(100% - 60px); max-height:600px; position:relative;}
#chat-page ul {background-color:#FFF; overflow-x:hidden; overflow-y:auto; max-height:200px;}
#chat-page #messageForm {padding:20px;}
#chat-page ul li {line-height:1.5rem; padding:10px 20px; margin:0; border-bottom:1px solid #f4f4f4;}
#chat-page ul li p {margin:0;}
#chat-page .event-message {width:100%; text-align:center; clear:both;}
#chat-page .event-message p {color:#777; font-size:14px; word-wrap:break-word;}
#chat-page .chat-message {padding-left:68px; position:relative;}
#chat-page .chat-message i {position:absolute; width:42px; height:42px; overflow:hidden; left:10px; display:inline-block; vertical-align:middle; font-size:18px; line-height:42px; color:#fff; text-align:center; border-radius:50%; font-style:normal; text-transform:uppercase;}
#chat-page .chat-message span {color:#333; font-weight:600;}
#chat-page .chat-message p {color:#43464b;}
#messageForm .input-group input {float:left; width:calc(100% - 85px);}
.chat-header {text-align:center; padding:15px; border-bottom:1px solid #ececec;}
.chat-header h2 {margin:0; font-weight:500;}
#message {border-radius:20px; margin-right:10px; text-align:center; text-decoration:none; outline:none; border:none; height:20px; font-weight:bold;}
.primary {border-radius:20px; text-decoration:none; outline:none; border:none; height:20px; color:rgba(255,255,255,1); background-color:rgba(1,98,255,1); cursor:pointer; font-weight:bold; }